<h1 mat-dialog-title>Termék hozzáadása</h1>
<form [formGroup]="addItemForm" (ngSubmit)="onSubmit(addItemForm.value)" class="form">
  <div mat-dialog-content>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Termék neve:</mat-label>
      <input matInput placeholder="Terméknév" formControlName="itemName" required>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>SKU:</mat-label>
      <input matInput placeholder="Terméknév" formControlName="sku" required>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>UPC:</mat-label>
      <input matInput placeholder="Terméknév" formControlName="upc" required>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Leírás:</mat-label>
      <input matInput placeholder="Terméknév" formControlName="summary">
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Kategória:</mat-label>
      <mat-select formControlName="category" multiple>
        <mat-option *ngFor="let category of categories" [value]="category[0]">
          {{category[1].name}}
        </mat-option>
      </mat-select>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Gyártó:</mat-label>
      <mat-select formControlName="manufacturer">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let manufacturer of manufacturers"
          [value]="manufacturer[0]">
          {{manufacturer[1].name}}
        </mat-option>
      </mat-select>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Raktár:</mat-label>
      <mat-select formControlName="warehouse" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse[0]">
          {{warehouse[1].name}}
        </mat-option>
      </mat-select>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Vételi ár:</mat-label>
      <input matInput placeholder="Terméknév" type="number" formControlName="purchasePrice" required>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Eladási ár:</mat-label>
      <input matInput placeholder="Terméknév" type="number" formControlName="sellingPrice" required>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Mennyiség:</mat-label>
      <input matInput placeholder="Terméknév" type="number" formControlName="quantity" required>
      <!--<mat-error *ngIf="this.addForm.get('itemName')?.invalid">{{getErrorMessageEmail()}}</mat-error>-->
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Mégse</button>
    <button type="submit" mat-button cdkFocusInitial mat-dialog-close [disabled]="!addItemForm.valid" *ngIf="!isEditing">Hozzáadás</button>
    <button type="submit" mat-button cdkFocusInitial mat-dialog-close [disabled]="!addItemForm.valid" *ngIf="isEditing">Szerkesztés</button>
  </div>
</form>
