.spacer {
    flex: 1 1 auto;
}

mat-toolbar-row button.label {
    margin-left: 15px;
}

mat-toolbar-row .title {
    margin-left: 0;
    font-weight: 700;
    font-size: xx-large;
    
}

.title-stock {
    color: #fff;
}

.title-it {
    color: #3f51b5;
    background-color: #fff;
    padding: 0 0.2em 0 0.2em;
}

.title a {
    text-decoration: none;
}

mat-toolbar-row button.user-icon {
    display: none;
}

mat-toolbar-row button.settings-icon {
    display: none;
}

mat-toolbar-row button.logout-icon {
    display: none;
}

@media screen and (max-width: 590px) {
    mat-toolbar-row button.label {
        margin-left: 20px;
    }
    
    mat-toolbar .mat-toolbar-row button.user-icon {
        display: unset;
    }

    mat-toolbar .mat-toolbar-row button.user-text {
        display: none;
    }

    mat-toolbar .mat-toolbar-row button.settings-icon {
        display: unset;
    }

    mat-toolbar .mat-toolbar-row button.settings-text {
        display: none;
    }

    mat-toolbar .mat-toolbar-row button.logout-icon {
        display: unset;
    }

    mat-toolbar .mat-toolbar-row button.logout-text {
        display: none;
    }
}