table {
  width: 100%;
  table-layout: fixed;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):nth-child(2n+1):hover {
  background: #F0F0FF;
}

tr.element-row:not(.expanded-row):nth-child(4n+1):hover {
  background: #9093DF;
}

tr.element-row:not(.expanded-row):active {
  background: #FFF;
}

tr.element-row:nth-child(2n+1) {
  background: #FFF;
}

tr.element-row:nth-child(4n+1) {
  background: #A9ACE5;
}

th.mat-header-cell {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.buttons {
  display: grid;
}