<app-header></app-header>
<div class="main-wrapper" fxLayout="column" fxLayoutAlign="center start">
  <mat-card class="box">
  <h1><mat-card-title>Raktárak kezelése</mat-card-title></h1>

    <div class="functions-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card-content>
        <mat-form-field appearance="standard" class="searchbar">
          <mat-label>Keresés</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Kezdjen el gépelni" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-card-content>

      <span class="spacer"></span>

      <mat-card-content>
        <button mat-raised-button color="primary" [disabled]="!user?.isOwner" (click)="addWarehouse()">Hozzáadás</button>
      </mat-card-content>
    </div>

    <div class="overlay" *ngIf="loading"></div>
    <mat-card-content>
      <table mat-table [dataSource]="warehouses" [class.spinner]="loading">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Név </th>
          <td mat-cell *matCellDef="let element" data-label="Név"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Cím </th>
          <td mat-cell *matCellDef="let element" data-label="Cím"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="place">
          <th mat-header-cell *matHeaderCellDef> Helység </th>
          <td mat-cell *matCellDef="let element" data-label="Helység"> {{element.place}} </td>
        </ng-container>

        <ng-container matColumnDef="postcode">
          <th mat-header-cell *matHeaderCellDef> Irányítószám </th>
          <td mat-cell *matCellDef="let element" data-label="Irányítószám"> {{element.postcode}} </td>
        </ng-container>

        <ng-container matColumnDef="edit-button">
          <th mat-header-cell *matHeaderCellDef aria-label="edit warehouse">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button class="text" mat-raised-button color="basic" (click)="editWarehouse(element)" [disabled]="!user?.isOwner">Szerkesztés</button>
            <button class="icon" mat-icon-button color="basic" (click)="editWarehouse(element)" [disabled]="!user?.isOwner">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete-button">
          <th mat-header-cell *matHeaderCellDef aria-label="delete warehouse">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button class="text" mat-raised-button color="warn" (click)="deleteWarehouse(element.id)" [disabled]="!user?.isOwner">Törlés</button>
            <button class="icon" mat-icon-button color="warn" (click)="deleteWarehouse(element.id)" [disabled]="!user?.isOwner">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10" *ngIf="!loading">Nem találtunk ilyen terméket :(</td>
        </tr>
      </table>

    </mat-card-content>
  </mat-card>
</div>
