/* You can add global styles to this file, and also import other style files */
* {
	font-family: Lexend, sans-serif;
}

html, body {
    height: 100%;
	margin: 0;
	padding: 0;
}

.mat-table .mat-row .mat-column-delete-button button.text {
	background-color: #B0170B;
}

.mat-table .mat-row .mat-column-delete-button button.icon {
	color: #B0170B;
}